.cadastro-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #cff8da;
  width: 400px;
  max-width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(5, 5, 5, 0.322);
  margin: 0 auto;
}

.spinner {
  font-size: 16px;
  color: #5e2a2a;
  margin-top: 10px;
}

h2 {
  color: aliceblue;
  font-size: 24px;
}

.error {
  color: red; 
  font-size: 14px; 
  padding-left: 5px;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.radio-group label {
  font-size: 15px;
  color: #0f7c66;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.button-group {
  display: flex;
  gap: 10px;
}

button {
  margin: 0 10px;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #4CAF50; /* Verde padrão */
  color: #ffffff;
}

button:hover {
  opacity: 0.8;
}

.signup-button {
  background-color: #4CAF50;
  color: white;
}

.back-button {
  background-color: #ff6f61;
  color: white;
}

.input-cadastro {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}

.input-select {
  border-radius: 10px;
  height: 40px;
  width: 110%;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
}

/* Estilos para o modal de confirmação */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Z-index alto para garantir que fique acima de outros elementos */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin-top: 0;
  color: #333;
}

.modal-content p {
  margin-bottom: 10px;
  color: cadetblue;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #259217; /* Cor de fundo do botão ao passar o mouse */
}

@media (max-width: 768px) {
  .cadastro-container {
    width: 80vw;
    padding: 10px;
  }

  .radio-group {
    flex-direction: column;
    align-items: center;
  }

  .radio-group label {
    font-size: 15px;
  }

  .input-cadastro {
    border-radius: 10px;
    height: 40px;
    width: 70vw;
    padding: 0 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s;
    margin-bottom: 10px;
  }

  .input-select {
    border-radius: 10px;
    height: 40px;
    width: 60vw;
    padding: 0 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
  }
}
