/* Estilos para a página de login */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-image-container {
  display: none;
}

.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #cff8da;
  min-width: 50%;
  margin: 0% auto 0; /* Alinhado ao centro com margem superior */
}
.login-container div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-container input {
  width: 80%; /* Ajuste a largura conforme necessário */
  border: px solid #ccc;
}
.titulo {
  color: #333;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 700;
}
.link {
  color: #40a14d;
}
.link:hover {
  text-decoration:underline;
}
.label{
  color: #000000;
}
.logo {
  margin-bottom: 20px;
  transition: filter 300ms;
  width: 30%; /* Ajuste o tamanho conforme necessário */
  height: 30%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #2cff02);
}

.login-button {
  width: 67%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50; 
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

input {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}

input:focus {
  border-color: #4caf50;
  outline: none;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: -10px;
}

@media (min-width: 768px) {
  .login-page {
    flex-direction: row;
  }

  .login-image-container {
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
  }

  .login-image {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 0 0 0 15px;
  }

  .login-wrapper {
    width: 50%;
    height: 100vh;
    box-shadow: -5px 0 15px -10px rgba(0, 0, 0, 0.3); /* Sombra no lado esquerdo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cff8da;
  }
  .login-container {
    max-width: 100%;
    background-color: #f8f9fa;
  }

  /* Estilo adicional para centralizar os divs dos inputs */
  .login-container div {
    width: 80%;
    min-width: 70%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 40%; /* Ajuste o tamanho conforme necessário */
    height: 40%;
    
  }
}
