/* Estilos para a tela inicial */
.tela-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url('../assets/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}



.logo-container {
  margin-bottom: 20px;
}

.logo.react {
  width: 50%;
  height: 50%;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #33ff00);
}

.titulo-init {
  font-size: 36px;
  color: #fafafa;
  margin-bottom: 20px;
}

.descricao-container {
  margin-bottom: 30px;
}

.descricao {
  font-size: 18px;
  color: #ffffff;
}

.botoes-container {
  display: flex;
  gap: 20px;
  justify-content: center; /* Opcional: centraliza os botões no contêiner */
}

.botao {
  flex: 1; /* Faz com que os botões ocupem a mesma quantidade de espaço */
  padding: 10px 20px; /* Ajuste o padding verticalmente, se necessário */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
  text-align: center; /* Centraliza o texto dentro dos botões */
}
.botao-log {
  flex: 1; 
  padding: 10px 33px; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
  text-align: center; /* Centraliza o texto dentro dos botões */
}
.botao:hover {
  background-color: #07880d;
}

@media (max-width: 768px) {
  .tela-inicial {
    background: #f8f9fa;
  }
  .descricao {
    font-size: 18px;
    color: #000000;
  }
  .titulo-init {
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
  }
  
}