/* Estilos para a tela inicial */
.tela-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../assets/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

@media (max-width: 768px) {
  .tela-inicial {
    background: #f8f9fa;
  }
}

.logo-container {
  margin-bottom: 20px;
}

.logo.react {
  width: 50%;
  height: 50%;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #2cff02);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #33ff00);
}
.titulo {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.descricao-container {
  margin-bottom: 30px;
}

.descricao {
  font-size: 18px;
  color: #555;
}

.botoes-container {
  display: flex;
  gap: 20px;
}

.botao {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}


